<a href="https://colab.research.google.com/github/ashishar/data_science_codes/blob/main/python/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Build Linear Regression Model in Python**

Chanin Nantasenamat

[*'Data Professor' YouTube channel*](http://youtube.com/dataprofessor)

In this Jupyter notebook, I will be showing you how to build a linear regression model in Python using the scikit-learn package.

Inspired by [scikit-learn's Linear Regression Example](https://scikit-learn.org/stable/auto_examples/linear_model/plot_ols.html)

---

## **Load the Diabetes dataset** (via scikit-learn)

In [2]:
#import kaggle dataset
! pip install -q kaggle
from google.colab import files
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets download mdmahmudulhasansuzan/students-adaptability-level-in-online-education

! unzip students-adaptability-level-in-online-education.zip
!ls

Downloading students-adaptability-level-in-online-education.zip to /content
  0% 0.00/6.43k [00:00<?, ?B/s]
100% 6.43k/6.43k [00:00<00:00, 6.17MB/s]
Archive:  students-adaptability-level-in-online-education.zip
  inflating: students_adaptability_level_online_education.csv
kaggle.json  students-adaptability-level-in-online-education.zip
sample_data  students_adaptability_level_online_education.csv

### **Import library**

In [5]:
from sklearn import datasets

### **Load dataset**

### **Import library**

In [6]:
import pandas as pd

### **Download CSV from GitHub**

### **Read in CSV file**

In [118]:
Student_adaptivity = pd.read_csv("students_adaptability_level_online_education.csv")
Student_adaptivity

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,Girl,16-20,College,Non Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Low
1201,Girl,16-20,College,Non Government,No,No,High,Mid,Wifi,4G,3-6,No,Mobile,Moderate
1202,Boy,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,3G,1-3,No,Mobile,Moderate
1203,Girl,16-20,College,Non Government,No,No,Low,Mid,Wifi,4G,1-3,No,Mobile,Low
1204,Girl,11-15,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,1-3,No,Mobile,Moderate

In [119]:
print(Student_adaptivity.columns, Student_adaptivity.shape)

Index(['Gender', 'Age', 'Education Level', 'Institution Type', 'IT Student',
       'Location', 'Load-shedding', 'Financial Condition', 'Internet Type',
       'Network Type', 'Class Duration', 'Self Lms', 'Device',
       'Adaptivity Level'],
      dtype='object') (1205, 14)

In [120]:
Student_adaptivity.describe()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
count,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205
unique,2,6,3,2,2,2,2,3,2,3,3,2,3,3
top,Boy,21-25,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
freq,663,374,530,823,901,935,1004,878,695,775,840,995,1013,625

In [121]:
y=Student_adaptivity['Adaptivity Level']
X = Student_adaptivity.drop('Adaptivity Level', axis='columns')

**Split dataset to X and Y variables**

In [122]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2)

**Dummy encoding of categorical features**

In [123]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [124]:
# define ordinal encoding
# ordinal encode input variables
ordinal_encoder = OrdinalEncoder()
ordinal_encoder.fit(X_train)
X_train = ordinal_encoder.transform(X_train)
X_test = ordinal_encoder.transform(X_test)

In [125]:
# ordinal encode target variable
label_encoder = LabelEncoder()
label_encoder.fit(Y_train)
y_train = label_encoder.transform(Y_train)
y_test = label_encoder.transform(Y_test)

**Define the model**

In [126]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

**Fit on the training set**

In [138]:
model.fit(X_train, Y_train)

LogisticRegression()

**Predict on test set part**

In [139]:
Y_pred = model.predict(X_test)

**Evaluate predictions**

In [142]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(Y_test, Y_pred)
print('Accuracy: %.2f' % (accuracy*100))

Accuracy: 69.29